## Prometheus
build_info.txt
#prometheus/

## Python specific
*.pyc

## docker-compose
.env

## Work config scripts
scripts/

## Bugged code
bugged*/

## Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
