## Prometheus
build_info.txt
#prometheus/

## MongoDB exporter binary
monitoring/mongodb_exporter/mongodb_exporter

## Python specific
*.pyc

## docker-compose
.env

## Work config scripts
scripts/

## Bugged code
bugged*/

## Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

## TLS
*.crt
*.key

## Charts .gz archives
kubernetes/Charts/reddit/charts/*

## GitLab CI Work dir
kubernetes/Gitlab_ci/*
